<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <listeners>
        <listener class-name="Tests.Listeners"/>
    </listeners>

    <test name="Test_00 - HomePageTests">
        <classes>
            <class name="Tests.HomePageTests"/>
        </classes>
    </test>

    <test name="Test_01 - SimpleFormDemoTest">

        <classes>
            <class name="Tests.Basic.SimpleFormDemoTest"/>
        </classes>
    </test>

    <test name="Test_02 - CheckBoxDemoTest">

        <classes>
            <class name="Tests.Basic.CheckBoxDemoTest"/>
        </classes>
    </test>

    <test name="Test_03 - RadioButtonsDemoTest">

        <classes>
            <class name="Tests.Basic.RadioButtonsDemoTest"/>
        </classes>
    </test>

    <test name="Test_04 - SelectDropdownListTest">

        <classes>
            <class name="Tests.Basic.SelectDropdownListTest"/>
        </classes>
    </test>

    <test name="Test_05 - JavascriptAlerts">

        <classes>
            <class name="Tests.Basic.JavascriptAlertsTest"/>
        </classes>
    </test>

    <test name="Test_06 - WindowPopupModal">

        <classes>
            <class name="Tests.Basic.WindowPopupModalTest"/>
        </classes>
    </test>

    <test name="Test_07 - BootstrapAlerts">

        <classes>
            <class name="Tests.Basic.BootStrapAlertsTest"/>
        </classes>
    </test>

</suite>